<template name="personalInfo">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">

                    {{# if verified}}<div class="alert alert-danger" role="alert">请前往邮箱进行注册验证</div>{{/if}}

                    <div style="padding:10px">
                    </div>


                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default" id="Logout">登出</button>
                        </div>
                    </div>



            </div>
        </div>
    </div>
</template>