<template name="register">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">

                <form>
                    <input type="text" class="form-control" name="registerUserName" placeholder="用户名">

                    <div style="padding:10px">
                    </div>
                    
                    <input type="email" class="form-control" name="registerEmail" placeholder="邮箱">

                    <div style="padding:10px">
                    </div>

                    <input type="password" class="form-control" name="registerPassword" placeholder="密码">

                    <div style="padding:10px">
                    </div>
                    
                    <input type="password" class="form-control" name="registerPasswordAgain" placeholder="确认密码">

                    <div style="padding:10px">
                    </div>

                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default" id="backToLogin">回到登录</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="submit" class="btn btn-default">注册用户</button>
                        </div>
                    </div>

                </form>


            </div>
        </div>
    </div>
</template>